.container {
    display: flex;
    flex-direction: column;
    background-color: white;

    & > .header {
        border: 1px solid;
    }

    & > table,
    th,
    td {
        border: 1px solid #c7cfe1;
        border-collapse: collapse;
        padding: 8px 16px;
    }

    & thead {
        color: #686464;
    }
}
