.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px;
    color: #4a4a50;
}

.section-wrapper {
    flex: 1;
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
}

.section-align {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;

    & > label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }
}

.range-label {
    position: relative;
    
    & > input {
        margin-right: 24px;
    }

    & > span {
        position: absolute;
        right: 0px;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

@media (max-width: 1024px) {

    .container{
        padding: 0px;
    }
    
    .section-wrapper {
        flex-direction: column;
        gap: 16px;
    }

    .section-align {
        width: 100%;
    }

    .button-container {
        flex-direction: column;
    }
}
