.container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-wrapper {
    position: relative;
    display: flex;
    
    & > .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        color: #c7cfe1;
    }

    & > input {
        flex: 1;
        padding-left: 40px;
    }
}
